@import "partials/normalize";
.block-profile {
  padding: 4rem 0;
}
.block-profile .profile-picture {
  border-radius: 0.5rem;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
}
input, textarea, label {
  width: 100%;
}
input, textarea {
  border: 0.1rem #bc9a78 solid;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.wpcf7-submit {
  border: none;
  padding: 1rem;
  background-color: #bd7b3b;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.wpcf7-submit:hover {
  background-color: #bc9a78;
  transition: all 0.5s ease-out;
}
a {
  color: #0400f9;
  transition: color 0.5s ease-out;
}
a:hover {
  color: #bc9a78;
  transition: color 0.5s ease-out;
  text-decoration: none;
}
.block-blog {
  padding: 1rem;
  margin-bottom: 10vh;
}
.block-blog .block-article {
  border: 1rem transparent solid;
  background-color: #fcfcfc;
}
.block-blog .block-article .post-thumbnail {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.block-article-single {
  padding: 0;
}
.block-article-single .post-thumbnail {
  width: 100%;
}
.block-article-single .post-content {
  padding: 2rem;
}
.block-article-single .post-content h3 {
  font-size: 3rem;
  font-weight: 600;
}
.acf-map {
  width: 100%;
  height: 30rem;
  background-color: transparent;
}
.modal-map {
  padding: 0;
}
/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}
.block-header {
  padding: 0;
  min-height: 0;
  z-index: 4;
}
.block-header .navbar {
  background-color: #fcfcfc;
  height: 100%;
  width: 17rem;
  position: fixed;
}
.block-header .navbar a {
  color: #004cff;
}
.block-header .navbar a:hover {
  color: #bc9a78;
}
.block-header .navbar .header-content {
  display: block;
  margin-left: 0;
}
.block-header .navbar .social-media-m {
  display: none;
}
.block-header .navbar .infos-social {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 2rem;
}
.block-header .navbar .infos-social .infos {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem 1rem;
}
.block-header .navbar .infos-social .phone {
  font-size: 1.3rem;
  font-weight: 600;
  color: #322929;
}
.block-header .navbar .infos-social span {
  margin-top: 0.5rem;
}
.block-header .navbar .infos-social .social-media {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.6rem;
}
.block-header .navbar .infos-social .social-media a {
  color: #bd7b3b;
}
.block-header .navbar .infos-social .social-media a:hover {
  color: #bc9a78;
}
.block-header .navbar .infos-m {
  display: none;
  color: black;
  height: 48px;
  padding: 0;
}
.block-header .navbar .navbar-collapse {
  width: 100%;
  margin-top: 1rem;
}
.block-header .navbar .navbar-collapse .navbar-nav {
  flex-direction: column;
}
.block-header .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-top: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
}
.block-header .navbar .navbar-collapse .navbar-nav .nav-link {
  padding: 1rem;
}
.block-header .navbar .navbar-toggler {
  margin-right: 0 !important;
  align-self: end;
  border: none;
  font-size: 2rem;
  transition: color 0.5s ease-out;
  height: 48px;
  padding: 0 0.5rem;
  color: #000;
}
.block-header .navbar .navbar-toggler:hover, .block-header .navbar .navbar-toggler:focus, .block-header .navbar .navbar-toggler:active {
  color: #bd7b3b;
  transition: color 0.5s ease-out;
}
.block-header .navbar .logo {
  margin-top: 10%;
}
.block-header .navbar .logo .custom-logo {
  width: 13rem;
  padding: 0;
  height: auto;
}
.block-header .navbar .modal-header {
  border: none;
}
@media (max-width: 992px) {
  .block-header {
    position: relative;
  }
  .block-header .navbar {
    height: 5rem;
    width: 100%;
    justify-content: center;
    position: static;
  }
  .block-header .navbar .header-content {
    align-content: flex-end;
    display: flex;
    margin-left: auto;
  }
  .block-header .navbar .header-content .social-media-m {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .block-header .navbar .header-content .social-media-m a {
    padding: 0 0.5rem;
  }
  .block-header .navbar .header-content .infos-social {
    position: relative;
    display: flex;
  }
  .block-header .navbar .header-content .infos-social .infos {
    display: none;
  }
  .block-header .navbar .header-content .infos-social .social-media {
    display: none;
  }
  .block-header .navbar .navbar-collapse {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 4;
    background-color: #fcfcfc;
  }
  .block-header .navbar .navbar-collapse .navbar-nav {
    flex-direction: column;
  }
  .block-header .navbar .navbar-collapse .navbar-nav .nav-item {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .block-header .navbar .logo {
    align-self: flex-start;
    margin-top: 0;
  }
  .block-header .navbar .logo .custom-logo {
    width: 4rem;
    padding: 0;
  }
  .block-header .navbar .infos-m {
    display: flex;
    padding: 0 0.5rem;
  }
  .block-header .navbar .infos-m .btn-modal {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.4rem;
    transition: color 0.5s ease-out;
  }
  .block-header .navbar .infos-m .btn-modal:hover, .block-header .navbar .infos-m .btn-modal:active, .block-header .navbar .infos-m .navbar-toggler:focus {
    color: #bd7b3b;
    transition: color 0.5s ease-out;
  }
}
@media (max-width: 575px) {
  .block-header {
    position: fixed;
    z-index: 5;
  }
  .block-header .navbar .navbar-collapse .navbar-nav {
    height: 100vh;
  }
  .block-page {
    margin-top: 5rem;
  }
}
@media (max-height: 860px) and (min-width: 992px) {
  .block-header .navbar .infos-social {
    display: none;
  }
}
footer {
  color: #322929;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #fcfcfc;
  text-align: center;
}
footer img {
  max-width: 3rem;
}
.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #bc9a78 url('/ib_bois/wp-content/uploads/2018/04/Rolling-1s-99px.svg') no-repeat center center;
}
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 0;
}
.bx-wrapper li {
  max-height: 30rem;
}
.bx-wrapper img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  overflow-y: hidden;
}
.bx-wrapper .bx-controls {
  position: relative;
  bottom: 40px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: white !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: whitesmoke !important;
}
body {
  color: #322929;
}
.block-page {
  background-color: #fcfcfc;
  padding: 0;
}
.block-page .block-content {
  padding: 3rem 2rem;
}
.block-page .block-content h3 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 992px) {
  body {
    padding: 0;
  }
  .block-page {
    background-color: #fcfcfc;
  }
}
.modal-content {
  border: none;
}
.modal-backdrop.show {
  z-index: 4;
}
.action-slider {
  display: flex;
  justify-content: space-evenly;
  background: #322929;
  position: relative;
  z-index: 3;
  font-size: 1.4rem;
  padding: 0.5rem;
}
.action-slider .locate, .action-slider .contact {
  color: #fcfcfc !important;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease-out;
}
.action-slider .locate span, .action-slider .contact span {
  padding-left: 1rem;
  font-weight: 600;
}
.action-slider .locate:hover, .action-slider .contact:hover {
  color: #ccc !important;
  transition: all 0.5s ease-out;
}
@media (max-width: 1200px) {
  .action-slider {
    font-size: 2rem;
  }
  .action-slider .locate span, .action-slider .contact span {
    display: none;
  }
}
