@import "partials/normalize";
@import "partials/variables";
@import "partials/profile";
@import "partials/commons";
@import "partials/blog";
@import "partials/map";
@import "partials/header";
@import "partials/footer";

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: $color-preloader url('/ib_bois/wp-content/uploads/2018/04/Rolling-1s-99px.svg') no-repeat center center;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none!important;
  border: none!important;
  margin-bottom: 0;
  li {
    max-height: $slider_height;
  }

  img {
    width: 100%;
    height: $slider_height;
    object-fit: cover;
    overflow-y: hidden;
  }

  .bx-controls {
    position: relative;
    bottom:40px;
  }

  .bx-pager.bx-default-pager a.active {
    background: white!important ;
  }

  .bx-pager.bx-default-pager a {
    background: whitesmoke!important;
  }

}

body {
  color: $color-texte;
}


.block-page {
  background-color: $color-contenu;
  padding:0;
  .block-content {
    padding: 3rem 2rem;
    h3 {
      font-size:1.6rem;
      font-weight: 600;
    }
  }
}


@media (max-width: 992px) {

  body {
    padding: 0;
  }

  .block-page {
    background-color: $color-contenu;
  }


}

.modal-content {
  border:none;
}

.modal-backdrop.show {
  z-index:4;
}



.action-slider {
  display: flex;
  justify-content: space-evenly;
  background: $color-actions-background;
  position: relative;
  z-index: 3;
  font-size: 1.4rem;
  padding: .5rem;

  .locate, .contact {
    color: $color-actions!important;
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: color 0.5s ease-out;

    span {
      padding-left: 1rem;
      font-weight: 600;
    }
  }

  .locate:hover, .contact:hover  {
    color: $color-actions-survol!important;
    transition: all 0.5s ease-out;
  }

}

@media (max-width: 1200px) {
  .action-slider {
    font-size: 2rem;

    .locate, .contact {
      span {
        display: none;
      }
    }
  }
}
