.block-blog {
  padding: 1rem;
  margin-bottom: 10vh;

    .block-article {
      border: 1rem transparent solid;
      background-color: $color-contenu;

      .post-thumbnail {
        width: 100%;
        border-radius: .5rem;
        margin-bottom: 1rem;
      }
    }
  }

.block-article-single {
  padding: 0;

  .post-thumbnail {
    width: 100%;
  }

  .post-content {
    padding: 2rem;

    h3 {
      font-size: 3rem;
      font-weight: 600;
    }
  }

}
