// FOOTER

// Rend le footer toujours positionné en bas, sans le rendre 'fixed'.
footer {
  color:$color-texte;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $color-footer;
  text-align: center;
  img {
    max-width: 3rem;
  }
}
